{% if social_media_image_url %}
  <div class="social-item">
        <a href="{{ social_media_link_url }}" target="{{ social_media_link_target|default('_blank') }}" rel="{{ social_media_link_rel }}">
          <img src="{{ social_media_image_url }}" alt="{{ social_media_image_alt|e }}">
        </a>
  </div>
{% endif %}
