<div class="">
  <h4>{{ grid_title }}</h4>
  <p>{{ grid_subtitle }}</p>
  <a href="{{ grid_link_url }}" target="{{ grid_link_target|default('_blank') }}" rel="{{ grid_link_rel }}">{{ grid_link_text }}</a>
  <img src="{{ grid_image_url }}" alt="{{ grid_image_alt|e }}">
</div>
